show [config,gpio,mqtt,stats]
set <var> <n>\n set model [4-15,clear] 
scene <name> [clear,set <n>,trigger <pin>]
adc <pin> [get,set <n>]
gpio <pin> [get,set <n>,switch]
gpio <pin> mode [in/out/adc/pwm]
gpio <pin> type <name>
gpio <pin> [timeoff/timeon <x>]/[trigger <pin> monostable/bistable]
pub [<pin>/clear] [trigger <scene/noite>]